python
customtkinter
opencv-python
torch
transformers
pytest // test smiles
pillow

pip install fastapi uvicorn transformers torch scikit-fuzzy pandas numpy redis streamlit

pip install transformers torch spacy
python -m spacy download pt_core_news_sm

pip install pysentimiento

pip install rdflib